language: php

php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4

before_script:
  - printf "no\nyes\nno\nno\n" | pecl install swoole
  - composer install --prefer-source --no-interaction --dev
  - composer dump-autoload

script: composer test